@tailwind base;
@tailwind components;
@tailwind utilities;


.rotate-image {
  animation: spin 5s linear infinite; /* Animation properties */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade{
  animation: fade 3s linear infinite;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.spinner {
  animation: spin 0.5s linear infinite;
}
.spinner1 {
  animation: spin 0.5s linear infinite;
}
.spinner2 {
  animation: spin 0.5s linear infinite;
}
.spinner3 {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


